body {
    background-color: tan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#userNums, #winNums, #numMatches, #lucky, #payout {
    color: whitesmoke;
    font-size: 1.4rem;
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    color: teal;
    font-size: 3rem;
    padding: 2rem;
}